:root {
  /* NOTE: https://colorhunt.co/palette/feffd2ffeea9ffbf78ff7d29 */
  --primary-color: #feffd2;
  --secondary-color: #ffeea9;
  --ternary-color: #ffbf78;
  --accent-color: #ff7d29;
}

body {
  color: #111;
}

[tabindex='-1'] {
  outline: none;
}

input[type='range'] {
  accent-color: var(--accent-color);
}
