.root {
  display: flex;
  justify-content: center;
  background-color: var(--ternary-color);
}

.inner {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 1rem 2rem;
}

.action {
  flex-shrink: 0;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
